<!-- Footer -->
<div class="row footer navbar-static">
    <div class="col-md-12">
		<p>Copyright &copy; {{ site.title }} 2017 - Present.</p>
		<p>Hosted on <a href="https://github.com/rmit-programming-club/rmit-programming-club.github.io">GitHub. </a><a href="https://github.com/patrickmfsd/Miniplistic">Miniplistic Theme</a> created by <a href="https://github.com/patrickmfsd">patrickmfsd</a></p>
		<br>
		<p>
			<a href="https://rusu.rmit.edu.au/Clubs/programming" target="_blank">Membership</a> | <a href="/contact">Contact</a> | <a href="/about">About</a> | <a href="/sponsors">Sponsors</a> | <a href="/resources">Resources</a>
		</p>
		<br>
		<img class="footer-logo" src="{{site.baseurl}}{{ site.footerlogo }}" alt="Footer Logo">
		<br>
    </div>
</div>