 	<!-- Logo and Member Sign Up -->
 	<div class="col-md-12 blog-theme-class" id="header">
          <div class="row jumb-bot">
            <div class="col-md-1"></div>
            <div class="jumbotron jumb-bot-jumbu col-md-12" href="/">
              <img class="logo animated fadeInDown" src="/images/site-logo.png" alt="The Programming Club Logo">
            </div>  
            <div class="membersignup col-md-12">
	            <a href="https://rusu.rmit.edu.au/Clubs/programming" target="_blank">Become a Member, Join Us</a> 
            </div>            
            <div class="col-md-1"></div>
          </div>
    </div>
    
    <!-- Meeting Banner -->
    <div class="col-md-12 meetingbanner">
		<p>Meetings at 6PM - 8PM Mondays at 80.03.03 (Room Subject To Change)</p>
	</div>
	
    <!-- Navigation Bar -->
    <div class="col-md-12 navbar navbar-inverse">
      <div class="navbar-header">
		
        <!--  Collasped Navbar	 -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <!-- Collapsed Button Bar -->
        <button type="button" class="navbar-toggle collapsed buttons" data-toggle="collapse" data-target=".buttonbar">
           <span class="fa fa-chevron-down" aria-hidden="true"></span>
        </button>
      </div>
      
      <div class="navbar-collapse collapse navbar-inverse-collapse" style="padding-right: 5%; padding-left: 5%;">
      	<!-- Page Links -->
        <ul class="nav navbar-nav">
            <li><a href="/">Blog</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="https://rusu.rmit.edu.au/Clubs/programming" target="_blank">Membership</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/sponsors">Sponsors</a></li>
			<li><a href="https://www.redbubble.com/people/rmitprogramming/shop" target="_blank">Store</a></li>
		</ul>
      </div>
      <!-- Social and Dark Mode Buttons-->
      <div class="navbar-collapse navbar-inverse-collapse buttonbar collapse" style="padding-right: 5%; padding-left: 5%; height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="https://facebook.com/groups/rmitprogramming.club" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="http://github.com/rmit-programming-club" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a><i onclick="theme()" class="fa fa-adjust theme" aria-hidden="true"></i></a></li>
	        </ul>
	    </div>
    </div>

