 	<!-- Logo and Member Sign Up -->
 	<div class="col-md-12 blog-theme-class" id="header">
        <!-- Icon Bar -->
     	<div class="col-md-12 iconbar">
            <a href="http://github.com/rmit-programming-club" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://facebook.com/groups/rmitprogramming.club" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a><i onclick="theme()" class="fa fa-adjust theme" aria-hidden="true"></i></a>
        </div>
        <div class="row jumb-bot">
            <div class="col-md-1"></div>
            <div class="jumbotron jumb-bot-jumbu col-md-12" href="/">
              <img class="logo animated fadeInDown" src="/images/site-logo.png" alt="The Programming Club Logo">
            </div>  
            <div class="membersignup col-md-12">
	            <a href="https://rusu.rmit.edu.au/Clubs/programming" target="_blank">Become a Member, Join Us</a> 
            </div>            
            <div class="col-md-1"></div>
        </div>
    </div>
    
    <!-- Meeting Banner -->
    <div class="col-md-12 meetingbanner">
		<p>Meetings Tuesday 2:30-3:30pm & Wednesday 2:30-3:30pm</p>
		<p>98.3.03 Meeting Room (RMIT Activator)</p>
	</div>
	
    <!-- Navigation Bar -->
    <div class="col-md-12 navbar navbar-inverse">
      <div class="navbar-header">
		
        <!--  Collasped Navbar	 -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      
      <div class="navbar-collapse collapse navbar-inverse-collapse">
      	<!-- Page Links -->
        <ul class="nav navbar-nav">
            <li><a href="/">Announcements</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="https://rusu.rmit.edu.au/Clubs/programming" target="_blank">Membership</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/sponsors">Sponsors</a></li>
			<li><a href="https://www.redbubble.com/people/rmitprogramming/shop" target="_blank">Store</a></li>
		</ul>
      </div>
    </div>
    </div>


