 	<!-- Icon Bar (Github, Facbook, Dark Mode Togle -->
     	<div class="col-md-12 iconbar">
            <a href="http://github.com/{{github_username}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://facebook.com/groups/{{fb_username}}" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a><i onclick="theme()" class="fa fa-adjust theme" aria-hidden="true"></i></a>
        </div>
 	
 	<!-- Logo -->
 	<img class="logo animated fadeInDown" src="{{site.baseurl}}{{ site.sitelogo }}" alt="site logo">
 	    
    <!-- Member Sign Up -->
    <div class="membersignup col-md-12 animated tada">
	    <a href="https://rusu.rmit.edu.au/Clubs/programming" target="_blank">Become a Member, Join Us</a> 
    </div>            
        
    <!-- Meeting Banner -->
    <div class="col-md-12 meetingbanner">
		<p>Meetings Tuesday & Thursdays @ 2:30-3:30pm</p>
		<p>RMIT Activator (98.3.01)</p>
	</div>
	
    <!-- Navigation Bar -->
    <div class="col-md-12 navbar navbar-inverse">
      <div class="navbar-header">
		
        <!--  Collasped Navbar	 -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      
      <div class="navbar-collapse collapse navbar-inverse-collapse">
      	<!-- Page Links -->
        <ul class="nav navbar-nav">
            <li><a href="/">Announcements</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="https://rusu.rmit.edu.au/Clubs/programming" target="_blank">Membership</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/sponsors">Sponsors</a></li>
			<li><a href="https://www.redbubble.com/people/rmitprogramming/shop" target="_blank">Store</a></li>
		</ul>
      </div>
    </div>
    </div>