// Dark Mode Togle for Mobile View
.dm-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 5.5px;
    margin-bottom: 5.5px;
    color: white;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0
}

.meetingbanner {
	background-color: #d8363d;
	padding-top: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	p {
		font-size: 18px;
		color: white;
	}
}

.membersignup{
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width:45%;
	max-width: 70%;
	display: block;
    margin-left: auto;
    margin-right: auto; 
}
.blog-theme-class {
  margin-top:0;
  padding-bottom: 10px;
  background:inherit;
  .jumb-bot {
    background:inherit;
  }
  .jumbotron{
    background:inherit;
    h1 {
      color :#fff;
    }
    p{
      color:#fff;
    }
  }
}

.blog-post-small {
  padding-top: 1%;
  text-align: left;
  p {
    font-size: 14.43px;
  }
  a {
  	color: #d8363d; // Links and heading colors
  	font-weight: 400
  }
}

// Needed For mobile layout
.bodycontent{
  padding-left: 10%;
  padding-right: 10%;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-inverse {
  background-color: #141414;
  border-color: #141414;
  .navbar-brand {
    color: #ffffff;
    &:hover, &:focus {
      color: #ffffff;
      background-color: transparent;
    }
  }
  .navbar-text {
    color: #ffffff;
  }
  .navbar-nav > {
    li > a {
      color: #ffffff;
      &:hover, &:focus {
        color: #ffffff;
        background-color: #d8363d;
      }
    }
    .active > a {
      color: #ffffff;
      background-color: #d8363d;
      &:hover, &:focus {
        color: #ffffff;
        background-color: #141414;
      }
    }
    .disabled > a {
      color: #444444;
      background-color: transparent;
      &:hover, &:focus {
        color: #444444;
        background-color: transparent;
      }
    }
  }
  .navbar-toggle {
    border-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
    .icon-bar {
      background-color: #ffffff;
    }
  }
  .navbar-collapse, .navbar-form {
    border-color: #007196;
  }
  .navbar-nav > .open > a {
    background-color: #006687;
    color: #ffffff;
    &:hover, &:focus {
      background-color: #006687;
      color: #ffffff;
    }
  }
  .navbar-link {
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }
  .btn-link {
    color: #ffffff;
    &:hover, &:focus {
      color: #ffffff;
    }
    &[disabled]:hover {
      color: #444444;
    }
  }
}

.jumb-bot {
}

.jumb-bot-jumbu {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 1px;
  background: #eee;
  p {
    padding-top: 13px;
  }
}

.left-syms {
  font-size: 20px;
  li a span {
    font-size: 12.5px;
    display: none;
  }
}

.listgroup-div {
  margin-top: 10px;
}

.blog-post-content {		
  font-size: 14px;
  img{
    max-width:100%;
    border:#eee 2px solid;
  }
}

.footer {
  padding-top: 10px;
  padding-bottom: 1px;
  padding-right: 5%;
  padding-left: 5%;
  border-bottom: #2b2b2b 1px solid;
  background: #141414;
  color: white;
  margin-top: 10px;
  p {
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
  }
}

.footer-logo {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 900px) {
  .left-syms li a span {
    display: block;
  }
  .meetingbanner {
  	padding-left: 5%;
	padding-right: 5%;
  }
  .logo {
  	width: 65;
  }
}